
.file-btn {
    width: 250px;
    height: 150px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #01A95D;
    background-color: #fff;
    border: 1.5px dashed #01A95D;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}

.file-btn:hover {
    color: #01A95D;
    background-color: #fff;
}

.file-btn span {
    width: 50px;
    height: 50px;
    font-size: 10px;
    color: #01A95D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #f3ecff;
}

.selected-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EEFFF4;
    border: 1px solid #01A95D;
    border-radius: 20px;
    margin-top: 20px;
    width: 250px;

}

.selected-file p {
    font-size: 13px;
    font-weight: 400;
    margin-left: 15px;
    position: relative;
    top: 7px;
}

.selected-file button {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #01A95D;
    background-color: transparent;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.selected-file button:hover {
    background-color: #01A95D;
    .colorChange{
        filter: brightness(0) invert(1);}
}

.colorChange {
    filter: invert(40%) sepia(95%) saturate(684%) hue-rotate(112deg) brightness(97%) contrast(99%);
}
