.navigation-bar{
    background-color: #fff;
    padding: 0 4em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 80px;
    display: flex;
    box-shadow: 0 1.375rem 1.875rem #0000001a;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar.scrolled {
    height: 80px;
    border-radius: 100px;
    position: relative;
    transition: 0.3s ease-in-out;
    margin: 2em 6em;
}


.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110px;
}

.leftDiv, .rightDiv {
    position: absolute;
}

.leftDiv {
    left: 10em;
}

.rightDiv {
    right: 10em;
}

.middleDiv {
    width: 80px;
    margin: 0 auto;
}

@keyframes notificationBounce {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(1.5px);  /* Example movement to the right */
    }
}

.notification-icon {
    animation: notificationBounce 0.4s infinite; /* Runs every 15 seconds indefinitely */
}
