
.popup-container {
    border-radius: 10px;
    width: 60%;
    height: 590px;
    text-align:left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 20px; /* Adds padding to the entire container */
    padding-top: 50px;
    padding-right: 20px;
    line-height: 1.3;

}

.top-section {
    display: flex;
    flex-direction: row; /* Aligns items horizontally */


}

.bottom-section {
    display: flex;
    flex-direction: column; /* Aligns items vertically */

}

img {
    width: 18%; /* Adjust width as necessary */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space between the image and the name */

}



