  
.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    align-items: center; /* Centers the items vertically */
    margin: 10px; /* Adds some margin around the container */
    border-radius: 10px;
    width: 50%;
    height: 17vh;
    background-color: #f8f8f8;
    height: "500px";
    width: "1000px";
    padding: "20px";
    align-items: normal;
    flex-direction: "column";
    width: "100%";
    justify-content: "space-between";
    padding: 20px;
}

  
.card .logo {
    width: 15%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the frame without distorting the image */
    border-radius: 8px; /* Rounds the corners of the image */
    margin-right: 20px; /* Adds space between the image and the text */
    margin-left: 15px;
  }

.button-container {
    display: flex;
    margin-right: 20px;
    flex-direction: column; /* Stacks items vertically */  
}
  

.text-container {
    display: flex;
    flex-direction: column;
    width: 60%; /* Takes remaining space */
    padding-top: 0;  /* Remove padding at the top */
    padding-bottom: 0;  /* Remove padding at the bottom */
}

.text-container h2, .text-container p {
    margin-top: 5px;  /* Reduced margin-top for a tighter layout */
    margin-bottom: 5px;  /* Reduced margin-bottom to bring elements closer */
}

  