.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .pageTitle {
    color: #01A95D;
    text-align: center;
    margin-top: 100px;
  }
  .searchIcon{
    color: #01A95D;
    width: 40px;
    height: auto;
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 30px;
    margin-bottom: 200px;
  }
  .dashboard {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }