.welcome{
    top:30%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
.welcome h1{
    font-size: 3.5em;
    color: #012D19;
    text-align: center;
}
.backgroundphoto{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

}
.backgroundphotoHolder{
    height: 100vh;
}
