/* Dropdown Button */
.dropbtn {
    background-color: #ffffff; /* Changed to white */
    color: black; /* Changed to green text */
    padding: 12px 16px; /* Reduced height by decreasing padding */
    font-size: 16px;
    border: none;
    border-radius: 5px; /* Added border-radius */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for smooth hover effect */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fFfFfF;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 12px;
    transition: opacity 1s ease;  /* Smooth transition for opacity */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd; border-radius: 10px}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown and on hover */
.dropdown:hover .dropbtn {
    background-color: #f8f8f8; /* Light grey background on hover */

}



.tooltipText{
    position: absolute;
    left: 50%; /* Center the tooltip horizontally relative to its parent */
    top: 90%; /* Position at the bottom of the parent element */
    transform: translate(-50%, 10px); /* Center horizontally and move down 10px */
    background-color:#01A95D;
    color: #fff;
    font-size: 13px;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius:9px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Added transform to the transition for smooth movement */
    visibility: hidden; /* Initially hidden */
    z-index: 2; /* Make sure it's above other content */
}
.tooltipText::before{
    content: '';
    position: absolute;
    top: -20px; /* Position the arrow above the tooltip */
    left: 50%;
    margin-left: -15px; /* Center the arrow */
    border-width: 10px; /* Size of the arrow */
    border-style: solid;
    border-color: transparent transparent #01A95D transparent; /* Arrow pointing upwards, matching tooltip */
}


.donor-notification-container-inside-dropdown:hover .tooltipText{
    visibility: visible;
    opacity: 1;
}