* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    position: relative;
    top:5.5em;
    max-width: 1000px;
    left: 4em;
}
.rest-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.rightPanel-container {
    width: 65%;
    height: 100vh;
    background-color: #ffffff;
    border-top-left-radius: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    align-items: center;
}

.footerButtons-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 22px;
}

/* If you want the Button buttons to have equal width */
.Next {
    position: relative;
right: 0;}

.footer {
    position: absolute;
    bottom: 0;
    width: 65%;
    height: 7em;
    padding: 10px;
    background-color: #ffffff; /* Set background color as needed */
    border-top: 1px solid #dee2e6; /* Optional: Add a border at the top */
}

