button {
    background-color: #01A95D;
    color: white;
    border: none;
    cursor: pointer;
    height: 45px;
    width: 100px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    outline: none;
    font-size: 20px;
}

.button:hover {
    background-color: #018448;
}

button:focus {
    outline: none;
}

.image-button {
    background-color: #ffffff;
    border: 1px solid #989898;
    color: white;
}

.image-button:hover {
    background-color: #D1D1D1; /* Darker green */
}

.backImg{
    width: 30px; /* Adjust the width and height of the image as needed */
}
/*------------------Just Part----------------------*/

.loginButton , .signupButton  {
    height: 30px;
    border-radius: 15px;
    font-size: 16px;
    margin: 10px;
}
.accept, .reject{
    height: 30px;
    border-radius: 15px;
    font-size: 16px;
    margin: 5px;
}


.signupButton{
    font-Size: 15px;
    background-Color: #A0A0A0;
    border: none;
}

.signupButton:hover {
    background-color: #787878; /* Darker green */
}

/*-----------------Nannas part--------------------*/
.donation-button:hover {
    transform: scale(1.1); /* Added transform effect on hover */
}
.donation-button{
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out; /* Smooth transition */
}

.view-button{
    display: inline-flex; /* Aligns the text and image horizontally */
    font-Size: 15px;
    font-Weight: bold;
    background-Color: #f5f5f5;
    margin-bottom: 16px; /* Adds 15px of space below each button */
    color: #333;
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Keeps the contents within the button */
    text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
    transition-duration: 0.8s;
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out; /* Smooth transition */
}

.view-button:hover {
    transform: scale(1.05); /* Added transform effect on hover */

}

.arrow-in-button {
    width: 30%;
    object-fit: contain; /* Ensures the image aspect ratio is preserved */
    margin-left: 5px;
    transition: transform 0.8s ease-in-out; /* Smooth transition for rotation */

}

.view-button:hover .arrow-in-button {
    transform: rotate(360deg); /* Rotates the arrow 360 degrees when the button is hovered */
}



/*-----------------------------------------------*/



