.details-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the items vertically */
    margin: 10px auto; /* Adds some margin around the container */
    border-radius: 10px;
    width: 60%;
    height: 21vh;
    background-color: #f8f8f8;
}

.details-container:hover {
    box-shadow: 0 0 15px rgba(1, 169, 93, 0.4);
}

.probono-image {
    width: 20%; /* Adjust width as needed */
    height: 21vh; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the frame without distorting the image */
    border-radius: 0px; /* Rounds the corners of the image */
    margin-right: 20px; /* Adds space between the image and the text */
    margin-left: -180px;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 60%; /* Takes remaining space */
    padding-top: 0;  /* Remove padding at the top */
    padding-bottom: 0;  /* Remove padding at the bottom */
}

.text-container h2, .text-container p {
    margin-top: 5px;  /* Reduced margin-top for a tighter layout */
    margin-bottom: 5px;  /* Reduced margin-bottom to bring elements closer */
}




