.Personal-Info-card{
    display: flex;
    flex-direction: column;
    margin-left: 10em;
    width: 23%;
    height: 70vh;
    background-color: #FAFAFA;
    border-radius: 30px;
    margin-top: 2%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.image-in-personalinfo-card {
    width: 100%;
    height: 35%;
    overflow: hidden;
    margin: 0; /* Ensure no margin */
    padding: 0; /* Ensure no padding */
    border-radius: 30px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-in-personal-info-card{
    margin-left: 7%;
    width: 80%;
    margin-top: 9%;
    display: flex;
    flex-direction: column;
}
.text-in-personal-info-card{
    margin-left: 7%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.org-info-header{
    margin-left: 8%;
}
.org-info-header h5 {
    margin-bottom: 20px;
}

.org-info-header h5:last-child {
    margin-bottom: 0; /* Removes bottom margin from the last h5 to avoid extra space */
}

.my-profile-info p{
    margin-bottom: 20px;
}
.my-profile-info{
    text-align: center;
}

.organization-upload-doc{
    display: flex;
}

.upload-doc-card {
    background-color: #FAFAFA;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 100%;
    height: 30vh;
    margin: 6%;
    padding: 2%;

}
.organization-account-info{
    display: flex;

}

.two-card-upload-maps-holder{
    width: 51%;
}

.upload-doc-card{
    display: flex;
    justify-content: space-between;
}

.edit-org-info-header{
    margin-left: 8%;
}

.edit-org-info-header h5 {
    margin-bottom: 32%;
}